.container {
    margin: 15px;
    border: 1px solid gray;
    border-radius: 10px;
    background-color: #282c34;
  }

  .loader {
    margin: 100px;
  }
  
  .table {
    width: 100%;
    border-collapse: collapse;
  }
  
  .th {
    padding: 8px;
    text-align: left;
    font-weight: bold;
    color: aquamarine;
  }

  .columnName {
    padding: 10px;
    background-color: black;
    border-radius: 10px;
    width: fit-content;
  }
  
  .td {
    padding: 8px;
    text-align: left;
  }

  .tr {
    border-top: 1px solid gray;
  }

  .disabled {
    color: gray; /* Gray text */
  }

  .actionButtons {
    display: flex;
    flex-direction: row;
    gap: 5px;
  }