.container {
    padding: 25px;
    background-color: #355E3B;
    border-radius: 10px;
    display: flex;
    flex-direction: row;
    gap:25px;
    width: 25%;
}

.labelAndValue{
    display: flex;
    flex-direction: column;
    gap: 5px;
    text-align: left;
}

.value {
    font-size: xx-large;
    font-weight: 700;
}