.App {
  text-align: center;
}

html, body {
  height: 100%;
  margin: 0;
  padding: 0;
  background-color: black;
  color: white;
}

.App-header {
  background-color: #282c34;
  min-height: 40px;
  display: flex;
  justify-content: flex-end;
  align-items: center;
  color: white;
  margin-left: auto;
  gap: 0px;
  padding: 10px;
}

.admin-user-mode {
  margin-right: 30px;
}

