.App {
  text-align: center;
}

html, body {
  height: 100%;
  margin: 0;
  padding: 0;
  background-color: black;
  color: white;
}

.App-header {
  background-color: #282c34;
  display: flex;
  min-height: 40px;
  align-items: center;
  justify-content: flex-end;
  color: white;
  margin-left: auto;
  gap: 5px;
  padding: 10px;
}

